<ul>
    {{#each}}
        <li>
           <p>Walk: {{title}},</p>
           <p>Author: {{author}}</p>
           <p>Location: {{location}}</p>
           {{#each in points}}
               <p>pin: {{title}}</p>
           {{/each}}
        </li>
    {{else}}
        <li>No walks found.</li>
    {{/each}}
</ul>
